body {
  background-image: url(../background.jpg);
}
.mainDiv {
  width: 30%;
  margin: 0px auto;
  border-radius: 18px;
  background: #feffcc;
  box-shadow: 5px 5px 6px #c6c79f, -5px -5px 6px #fffff9;
}

.addDiv {
  padding: 10px;
}

.inputAdd {
  width: 100%;
  outline: none;
  border: 1px solid gray;
}

.card {
  width: 100px;
  height: 100px;
}
.commonColor {
  color: #825911;
}

.buttonBorder {
  border: 2px solid #ff9800;
}
